# Analyzing Franz Kafka's _The Metamorphosis_ with NLP

* _Metamorphosis_ is commonly interpreted as giving insights into the meaning of personal identity, a uniquely human theme
* The conclusions that we as humans can draw from philosophical texts are limited by our preconceptions and rhetorical weaknesses
* Guiding question: Can statistical approaches from machine learning be applied to interpret _The Metamorphosis_, and how will the results support or contrast with our human reading?
* Read on to see how computers read philosophy...

In [66]:
import nltk
import numpy as np
import regex as re
import pandas as pd
from matplotlib import pyplot as plt

The text is sourced from Project Gutenberg (David Wyllie
 translation): http://www.gutenberg.org/files/5200/5200-h/5200-h.htm

In [67]:
file = open("5200-h.txt", "r")
content = file.read()

In [68]:
words = re.findall(r"[\w']+", content)

In [69]:
len(words)

22055

In [70]:
def word_freqs(words):
    freqs = {}
    for word in words:
        if word in freqs:
            freqs[word] += 1
        else:
            freqs[word] = 1
    return freqs

In [71]:
word_freqs = word_freqs(words)

In [72]:
word_freqs_to_cols = {'word':list(word_freqs.keys()), 'count':list(word_freqs.values())}
word_freqs_df = pd.DataFrame.from_dict(word_freqs_to_cols)

In [73]:
word_freqs_df.sort_values(by='count',ascending=False,inplace=True)

In [74]:
word_freqs_df.reset_index(drop=True)

      count           word
0      1097            the
1       753             to
2       612            and
3       524            his
4       495             he
5       429             of
6       406            was
7       350            had
8       339             in
9       324           that
10      316             it
11      283              a
12      233             as
13      199         Gregor
14      194           with
15      188            him
16      184          would
17      183            her
18      176            not
19      172            she
20      158             at
21      158            for
22      147             on
23      139            but
24      135           they
25      131           room
26      130            all
27      119          could
28      118             be
29      116           from
...     ...            ...
2735      1         plenty
2736      1     distinctly
2737      1          awake
2738      1       gaslight
2739      1           keys
2740      1          flown
2741      1       terrible
2742      1          knife
2743      1        almonds
2744      1         healed
2745      1        whirred
2746      1       feelings
2747      1         poured
2748      1           salt
2749      1         butter
2750      1           roll
2751      1       inedible
2752      1       declared
2753      1        raisins
2754      1          drops
2755      1          bones
2756      1         rotten
2757      1      selection
2758      1       goodness
2759      1        guessed
2760      1  possibilities
2761      1        wildest
2762      1      imagining
2763      1            rag
2764      1    destination

[2765 rows x 2 columns]